{% extends 'base.html' %}
{% block title %}About Me{% endblock %}

{% block content %}
<div class="container my-5">
  <h2 class="mb-4 text-center">👨‍💻 About Me</h2>

  <div class="row align-items-center">
    

    
    <div class="col-md-8">
      <p>Hello! I'm <strong>Prakhar Swaroop</strong>, a passionate B.Tech Computer Science student with a strong interest in building intelligent software solutions.</p>
      <p>I enjoy working with Python, Flask, and machine learning models. I’ve built several projects from prediction systems to full-stack web apps. I’m currently exploring REST APIs and backend development with databases like SQLite and PostgreSQL.</p>
      <p>Outside of coding, I like to read about AI, play chess and learn to play the guitar.</p>

      <ul class="list-unstyled mt-3">
        <li><i class="fas fa-envelope text-primary"></i> prakharswaroop2023@gmail.com</li>
        <li><i class="fas fa-map-marker-alt text-danger"></i> Gurgaon</li>
        <li><i class="fab fa-github text-dark"></i> <a href="https://github.com/Prakhar2023-bit" target="_blank">github.com/Prakhar2023-bit</a></li>
        <li><i class="fab fa-linkedin text-primary"></i> <a href="https://linkedin.com/in/yourlinkedin" target="_blank">linkedin.com/in/yourlinkedin</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
